<p>Hello {{name}},</p>
<p>To confirm the change of your email, click the link below</p>
<p>
  <a href='{{url}}'>Confirm email change</a>
</p>

<p>This link is valid for 24hs</p>

<p>If you did not request this email you can safely ignore it.</p>