<p>Welcome to Roofstore</p>
<p>To confirm your registration process, please click the link below</p>
<p>
    <a href="{{ url }}">Confirm registration</a>
</p>

<p>This link is valid for 24hs</p>

<p>If you did not request this email you can safely ignore it.</p>
